@import "../../theme.scss";
.select-cat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  padding: 0.5rem 0;

  &__label {
    text-shadow: 0 0 10px black;
  }

  .select-input {
    border: none;
    margin-top: 6px;
    height: 1.5rem;
    width: 100%;
    border-radius: 6px;
    background-color: $main--ligth_soft;
  }

  .select-input::placeholder {
    color: gray;
  }

  &__select {
    height: auto;
    border: 0;
    margin: 0;
    padding: 0.25em;
    text-overflow: ellipsis;

    margin-top: 0.5em;
    background-color: $main--ligth_soft;
    color: $main--dark_strong;
    outline: none;
    border: none;
    overflow: hidden;
    border-radius: 5px;
  }
}

@media (min-width: 768px) {
  .select-cat {
    &__select {
      width: 70%;
    }

    .select-input {
      width: 70%;
    }
  }
}

@media (min-width: 1440px) {
  .select-cat {
    &__select {
      width: 50%;
    }

    .select-input {
      width: 50%;
    }
  }
}
