@import "../../theme.scss";
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid $main--medium;
  width: 100%;
  height: auto;
  position: sticky;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(5px);

  img {
    align-self: center;
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    flex-direction: column;
    border: none;
    border-right: 1px solid $main--medium;
    width: 10%;
    padding: 0 0.75rem;
    height: 100%;
    position: absolute;
  }
}

@media screen and (min-width: 1440px) {
  .nav-bar {
    flex-direction: row;
    border-bottom: 1px solid $main--medium;
    width: 100%;
    justify-content: flex-end;
    height: 10%;
    position: sticky;
  }
  .nav-bar > svg {
    order: -1;
    justify-self: flex-start;
  }
}

// desktop 2: 1900 x 1080
