@import "../../theme.scss";

.tuto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $support--soft;
  border: 3px solid $main--soft;
  color: $main--medium;
  font-size: 21px;
  font-weight: bold;
  padding: 2.2%;
  width: 115px;
  height: 115px;
  border-radius: 50%;
}

.tuto-card-1 {
  margin-left: 10%;
}

.tuto-card-2 {
  margin-top: 30%;
  margin-left: 18%;
}

.tuto-card-3 {
  margin-top: 45%;
  margin-left: 8%;
}

@media screen and (min-width: 768px) {
  .tuto-card {
    width: 120px;
    height: 120px;
    font-size: 22px;
    padding: 1%;
  }

  .tuto-card-1 {
    margin: 7% 0 0 15%;
  }

  .tuto-card-2 {
    margin: 10% 0 0 37%;
  }

  .tuto-card-3 {
    margin: 18% 0 0 62%;
  }
}

@media screen and (min-width: 1440px) {
  .tuto-card {
    font-size: 28px;
    padding: 1%;
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }

  .tuto-card-1 {
    margin: 10% 0 0 25%;
  }

  .tuto-card-2 {
    margin: 15% 0 0 27%;
  }

  .tuto-card-3 {
    margin: 12% 0% 0% 60%;
  }
}

@media screen and (min-width: 1900px) {
  .tuto-card {
    font-size: 31px;
    padding: 1.5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .tuto-card-1 {
    margin: 10% 0 0 25%;
  }

  .tuto-card-2 {
    margin: 15% 0 0 27%;
  }

  .tuto-card-3 {
    margin: 10% 0% 0% 60%;
  }
}
