@import "../../theme.scss";

.tuto-card__content {
  position: absolute;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  color: $main--medium;
  font-size: 21px;
  font-weight: bold;
  gap: 0.5rem;
}

.span-animate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid $main--soft;
  border-radius: 38% 62% 63% 37% / 41% 43% 58% 60%;
  transition: 0.5s;
}

.tuto-card-1 {
  top: 5%;
  left: 5%;
  span:nth-child(1) {
    @extend .span-animate;
    animation: animate 22s linear infinite;
  }
  span:nth-child(2) {
    @extend .span-animate;
    animation: animate 10s linear infinite;
  }
  span:nth-child(3) {
    @extend .span-animate;
    animation: animate 30s linear infinite;
  }
}

.tuto-card-2 {
  top: 20%;
  left: 51%;
  span:nth-child(1) {
    @extend .span-animate;
    animation: animate 15s linear infinite;
  }
  span:nth-child(2) {
    @extend .span-animate;
    animation: animate 12s linear infinite;
  }
  span:nth-child(3) {
    @extend .span-animate;
    animation: animate 30s linear infinite;
  }
}

.tuto-card-3 {
  bottom: 15%;
  left: 12%;
  span:nth-child(1) {
    @extend .span-animate;
    animation: animate 18s linear infinite;
  }
  span:nth-child(2) {
    @extend .span-animate;
    animation: animate 12s linear infinite;
  }
  span:nth-child(3) {
    @extend .span-animate;
    animation: animate 32s linear infinite;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .tuto-card {
    width: 120px;
    height: 120px;
    font-size: 22px;
    padding: 1%;
  }

  .tuto-card-1 {
    top: 15%;
    left: 10%;
  }

  .tuto-card-2 {
    top: 10%;
    left: 60%;
  }

  .tuto-card-3 {
    bottom: 15%;
    left: 70%;
  }
}

@media screen and (min-width: 1440px) {
  .tuto-card__content {
    font-size: 28px;
    width: 200px;
    height: 200px;
    padding: 2rem;
  }

  .tuto-card-1 {
    top: 15%;
    left: 20%;
  }
}
