@import "../../theme.scss";

.tuto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $support--soft;
  border: 3px solid $main--soft;
  color: $main--medium;
  font-size: 18px;
  padding: 3%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.tuto-card-1 {
  margin-left: 12%;
}

.tuto-card-2 {
  margin-top: 35%;
  margin-left: 15%;
}

.tuto-card-3 {
  margin-top: 52%;
  margin-left: 3%;
}
