@import "../../theme.scss";

.tuto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $support--soft;
  border: 3px solid $main--soft;
  color: $main--medium;
  font-size: 18px;
  padding: 3%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.tuto-card-1 {
  margin-left: 12%;
}

.tuto-card-2 {
  margin-top: 35%;
  margin-left: 15%;
}

.tuto-card-3 {
  margin-top: 52%;
  margin-left: 3%;
}

@media screen and (min-width: 768px) {
  .tuto-card {
    font-size: 18px;
    padding: 2%;
    width: 130px;
    height: 130px;
  }

  .tuto-card-1 {
    margin-top: 10%;
    margin-left: 0%;
  }

  .tuto-card-2 {
    margin-top: 0%;
    margin-left: 40%;
  }

  .tuto-card-3 {
    margin-top: 0%;
    margin-left: 80%;
  }
}

@media screen and (min-width: 1440px) {
  .tuto-card {
    font-size: 20px;
    padding: 2%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  .tuto-card-1 {
    margin-top: 10%;
    margin-left: 12%;
  }

  .tuto-card-2 {
    margin-left: 40%;
  }

  .tuto-card-3 {
    margin-top: 15%;
    margin-left: 70%;
  }
}
