.cart {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0 15%;

  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    border-bottom: solid 2px;
    padding: 2px 0;
    backdrop-filter: blur(5px);
  }

  p {
    width: 65%;
    text-align: start;
  }

  .icons {
    display: flex;
    gap: 10%;
  }

  span {
    margin-right: 1rem;
  }
}
