@import "../../theme.scss";

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;

  &__input {
    background-color: $body--soft;
    height: 2rem;
    width: 100%;
  }

  &__btn {
    background-color: $body--medium;
    color: $main--ligth_soft;
    height: 2rem;
  }
}
