.legal-container {
  height: 100%;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #ebe8d0;
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
  backdrop-filter: blur(5px);
  padding-top: 5%;
  padding-bottom: 10%;
  text-decoration: none;
}

.identite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style: inside;
}

.conditions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.informations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.interactivite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.propriete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.liens-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.confidentialite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.credits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mentions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style: decimal;
}
