.mediaCardInfo {
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 95%;
  height: 90%;

  button {
    background-color: transparent;
    border: none;
  }

  &__top {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__info {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    padding: 0.5rem;
  }

  &__about {
    height: 40%;
    border: 1px solid white;
    overflow: hidden;
    overflow-y: scroll;
    backdrop-filter: blur(2px);
    line-height: 1.25;
    text-align: justify;
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .mediaCardInfo {
    flex-direction: row;
    width: 90%;
    padding: 0 2rem;

    &__top {
      height: 100%;
      width: 60%;
    }

    &__info {
      padding: 1rem;
    }

    &__about {
      height: 100%;
      width: 40%;
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .mediaCardInfo {
    padding: 2rem 0;
  }
}
