@import "react-alice-carousel/lib/scss/alice-carousel.scss";
.carousel-container {
  height: 100%;
  width: 100%;
}

.react-multi-carousel-track {
  height: 100%;
  gap: 0;
}

.carousel-item {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.alice-carousel {
  height: 100%;
  width: 100%;

  & > div {
    height: 100%;
    width: 100%;
  }
  &__stage {
    flex-direction: row;
  }
}
