@import "../../theme.scss";

.purchaseCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 1rem;
  border: solid 0.5rem;
  border-image: linear-gradient(to bottom right, black 10%, #ebe8d0 40%, black);
  border-image-slice: 1;

  backdrop-filter: blur(2px);

  &__image {
    height: 65%;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px black;
  }
}

.downloadCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background-color: black;
}

.downloadBar {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 10%;
  border: solid 0.2rem;
  border-radius: 1rem;
}

.downloadProgress {
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 0.8rem;
  padding-left: 10px;
}

.message {
  height: 50%;
  font-size: 2rem;
}
