.mediaCover {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .mediaCover {
    height: 75%;
  }
}
