.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95%;
}

@media screen and (min-width: 768px) {
  .home-container {
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  a {
    margin-right: 40%;
    margin-bottom: 20%;
  }
}
