.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 2%;
  background-image: url("../../assets/background_sophia.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
  background-color: black;

  a {
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 768px) {
  .home-container {
    a {
      margin: 0% 45% 10% 0%;
    }
  }
}

@media screen and (min-width: 1440px) {
  .home-container {
    a {
      margin: 0% 40% 10% 0%;
    }
  }
}

@media screen and (min-width: 1900px) {
  .home-container {
    a {
      margin: 0 50% 10% 0;
    }
  }
}
