.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  height: 95%;
}

@media screen and (min-width: 768px) {
  .home-container {
    a {
      margin: 0% 40% 5% 0%;
    }
  }
}

@media screen and (min-width: 1440px) {
  .home-container {
    a {
      margin: 0% 40% 5% 0%;
    }
  }
}

@media screen and (min-width: 1900px) {
  .home-container {
    a {
      margin: 0% 0% 0% 0%;
    }
  }
}
