.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .display-container {
    flex-direction: row-reverse;
    width: 100%;

    & > div:last-child {
      position: relative;
    }
  }
}

@media screen and (min-width: 1440px) {
  .display-container {
    flex-direction: column-reverse;
  }
}
