@import "react-alice-carousel/lib/alice-carousel.css";

.alice-carousel {
  height: 100%;
  width: 100%;

  & > :first-child {
    height: 90%;
    width: 100%;
  }

  &__wrapper {
    height: 100%;
  }

  &__stage {
    display: block;
  }

  &__stage-item {
    padding: 0 10px;
  }

  &__prev-btn {
    text-align: center;
  }
}
