.tuto-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tuto-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 70px;
}
.tuto-card-1 {
  background-color: blue;
  margin-right: 200px;
}

.tuto-card-2 {
  background-color: rgb(246, 239, 239);
  margin-bottom: 220px;
  margin-left: 220px;
}

.tuto-card-3 {
  background-color: red;
  margin-bottom: 70px;
  margin-left: 40px;
}
