.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  position: relative;
  &__section {
    width: 100%;
    overflow-y: auto;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
  }

  &__header > div,
  &__header > button {
    margin-top: 1rem;
  }

  &__select-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }

  & > div:last-child {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .search-page {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;

    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding-left: 3rem;
    }

    &__header {
      width: 80%;
      position: relative;
      background: transparent;
    }

    &__select-list {
      overflow-y: scroll;
    }

    & > div:last-child {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1440px) {
  .search-page {
    flex-direction: column-reverse;

    &__section {
      padding-top: 3rem;
    }
  }
}
