@import "../../theme.scss";

button {
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 1px 1px 1px $main--ligth_soft;
}

.btn--darkBackground {
  background-color: transparent;
  border: 2px solid $main--medium;
  border-radius: 10px;
  color: $main--medium;
}
.btn--lightBackground {
  background-color: transparent;
  border: 2px solid $support--strong;
  border-radius: 5px;
  color: $support--strong;
}
.btn--small {
  padding: 5px 15px;
  width: 30vw;
  height: auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn--medium {
  padding: 5px 15px;
  width: 50vw;
  height: auto;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px $support--soft;
}

.btn--large {
  padding: 8px 20px;
  width: 70vw;
  height: auto;
  font-size: 1.5rem;
  font-weight: bold;
}
