@import "../../theme.scss";

.btn {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 1px 1px 1px $main--ligth_soft;
  }

  &--darkBackground {
    @extend .btn;
    border-color: $main--medium;
    color: $main--medium;
  }
  &--lightBackground {
    @extend .btn;
    border-color: $support--strong;
    color: $support--strong;
  }
}

.btn_size {
  padding: 5px 15px;
  height: auto;
  font-size: 1.5rem;
  font-weight: bold;

  &--small {
    @extend .btn_size;
  }

  &--medium {
    @extend .btn_size;
    width: 50%;
  }

  &--large {
    @extend .btn_size;
    font-size: 2rem;
    padding: 8px 40px;
  }
}
