.btn {
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: transparent;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn--darkBackground {
  background-color: transparent;
  color: blue;
  border: 2px solid white;
}

.btn--lightBackground {
  background-color: transparent;
  color: red;
  border: 2px solid black;
}

.btn--small {
  padding: 5px;
  width: 50vw;
  height: auto;
}

.btn--large {
  padding: 10px;
  width: 70vw;
  height: auto;
}
