@import "../../theme.scss";

.tab__globalComponent {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.tab__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.tab__content-tabs {
  height: 100%;
  width: 90%;
}

// bloc onglets
.tab__bloc-tabs {
  display: flex;
  background-color: transparent;
  align-self: flex-start;
  padding: 0 5%;
}

// tous onglets
.tab__tabs {
  padding: 7px;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  background-color: transparent;
  color: $support--medium;
  padding: 0.5rem 1rem;
}

// onglet actif
.tab__active-tabs {
  border-bottom: 1px solid transparent;
  max-height: 76%;
  font-weight: bolder;
  text-shadow: 1px 1px 20px whitesmoke;
  border-top: 6px solid black;
  border-radius: 0 0 15px 15px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 1.5px);
    top: -6px;
    left: -1px;
    border-top: 6px solid black;
  }
}

// tous contenus
.tab__content {
  padding: 1.25rem;
  height: 100%;
  display: none;

  &--color {
    border: 3px solid;
    @include themed {
      border-image: linear-gradient(
        to bottom right,
        black 10%,
        t("strong") 60%,
        black
      );
      border-image-slice: 1;
      color: t("soft");
    }
  }
}

// contenu actif
.tab__active-content {
  display: block;
  justify-content: center;
  background-color: transparent;
}

.tab__color {
  @include themed {
    border: 3px solid t("strong");
    color: t("soft");
  }
}

.tab__itemCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 380px;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  // tabs on right side
  .tab__globalComponent {
    margin-top: 0;
    width: 85%;
  }

  .tab__container {
    flex-direction: row;
    justify-content: flex-end;
  }

  .tab__bloc-tabs {
    flex-direction: column;
    width: 20%;
  }

  .tab__tabs {
    box-sizing: border-box;
    width: 100%;
  }

  .tab__bloc-tabs {
    padding: 0;
  }

  .tab__content-tabs {
    width: 80%;
  }

  .tab__active-tabs {
    border-radius: 0 0px 15px 0;

    &::before {
      height: calc(100% + 1.5px);
      top: 0;
      left: -6px;
      border-top: none;
      border-left: 6px solid black;
    }
  }

  .tab__itemCard {
    max-width: 800px;
  }
}

@media screen and (min-width: 1440px) {
  // tabs on top;
  .tab__globalComponent {
    height: 85%;
    padding-bottom: 3rem;
  }

  .tab__container {
    flex-direction: column-reverse;
  }

  .tab__content-tabs {
    width: 95%;
    margin-top: -23px;
  }

  .tab__content {
    &--color {
      border: 3px solid;
      @include themed {
        border-image: linear-gradient(
          to top right,
          black 10%,
          t("strong") 60%,
          black
        );
        border-image-slice: 1;
        color: t("soft");
      }
    }
  }

  .tab__bloc-tabs {
    flex-direction: initial;
    width: 95%;
    height: 6rem;
    align-self: center;
  }

  .tab__tabs {
    width: 60%;
  }

  .tab__active-tabs {
    border-radius: 15px 15px 0 0;

    &::before {
      height: calc(100% + 1.5px);
      top: -2px;
      left: -0.25px;
      border-left: none;
      border-bottom: 10px solid black;
    }
  }

  .tab__active-content {
    display: flex;
    justify-content: center;
  }

  .tab__itemCard {
    flex-wrap: wrap;
    overflow-y: auto;
    min-width: 1200px;
  }
}

@media screen and (min-width: 1900px) {
  .tab__bloc-tabs {
    padding-left: 2.75rem;
  }
}
