.videoCard-container {
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 95%;
  height: 90%;
  margin-top: 3%;
}

.videoCard-logo {
  display: flex;
  justify-content: space-between;
}

.videoCard-info {
  height: 10%;
  border: 1px solid white;
}

.videoCard-about {
  height: 38%;
  border: 1px solid white;
}
