.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100vw;
}

@media (min-width: 768px) {
  .user-container {
    flex-direction: row-reverse;

    & > div:last-child {
      position: relative;
    }
  }
}
