@import "../../theme.scss";

.mediaCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 1rem;
  border: solid 0.5rem;
  @include themed {
    border-image: linear-gradient(
      to bottom right,
      black 10%,
      t("strong") 40%,
      black
    );
    border-image-slice: 1;
  }

  backdrop-filter: blur(2px);

  &__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem;
  }

  &__iconUp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__counter {
    border: solid 0.1rem;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    font-size: 0.75rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px black;
  }
}
