@import "../../theme.scss";

.mediaCard {
  height: 80%;
  margin-top: 10%; /* à changer lors de l'implantation */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 1rem;
  border: solid 0.5rem;
  @include themed {
    border-image: linear-gradient(
      to bottom right,
      black 10%,
      t("strong") 40%,
      black
    );
    border-image-slice: 1;
  }
}

.imageMediaCard {
  background-image: url("https://fr.web.img3.acsta.net/pictures/16/03/18/15/10/179712.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;
  height: 50%;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border: solid 1rem black;
}

.iconUpMediaCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  border: solid 0.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}
